:host {
    flex-direction: column;
}

.mainHeader {
    height: 30px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 12px;
    flex-direction: row;
}

.mat-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header {
    font-weight: bold;
    flex: 0 0 20%;
    white-space: break-spaces;
}

.item {
    flex: 80%;
    white-space: break-spaces;
}

.subHeader {
    font-weight: 500;
    flex: 0 0 18%;
    white-space: break-spaces;

}
